<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.basic.model.repository.ProductMapper">
    <select id="selectProductAll" resultType="ProductEntity">
    select
        product_id
        , product_name
        , product_price
    from product2
    ;
    </select>

    <select id= "selectProductFilter" resultType="ProductEntity">
        select
            product_id
            , product_name
            , product_price
        from product2
        where 1=1
        <if test='productId != null and productId > 0'>
        and product_Id > #{productId}
        </if>
        <if test='productName != null and productName != ""'>
        and product_name like concat('%',#{productName},'%')
        </if>
        <if test='productPrice != null and productPrice > 0'>
        and product_price > #{productPrice}
        </if>
        ;
    </select>

    <insert id="insertProduct" parameterType="ProductDto">
    INSERT INTO product2 (product_id,product_name, product_price) VALUES
    (#{productId},#{productName}, #{productPrice});
    </insert>

    <update id="updateProduct" parameterType="ProductDto">
    update product2
    <set> 
    <if test='productId != null and productId > 0'>
        product_id = #{productId}
    </if>
    <if test='productName != null and productName != ""'>
        product_name = #{productName}
    </if>
    <if test='productPrice != null and productPrice > 0'>
        product_price = #{productPrice}
    </if>
    </set>
    where 1=1
    <if test='productId != null and productId > 0'>
        and product_Id = #{productId}
    </if>
    ;
    </update>

    <delete id="deleteProduct">
        delete from product2
        where 1=1
        <if test='productId != null and productId > 0'>
        and product_Id = #{productId}
        </if>
        ;
    </delete>
</mapper>