<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.basic.model.repository.BlogMapper">

<!-- select -->
<select id="selectAll" resultType="BlogDto">
    select
        blog_number
        ,blog_title
        ,blog_date
    from
        blog_table
    where 1=1
    ;
</select>

<!-- insert -->

<insert id="insertBlog" parameterType="BlogDto">
    insert into blog_table(blog_title, blog_date)
    values (#{blogTitle}, #{blogDate});
</insert>
<!-- update -->

<update id="updateBlog" parameterType="BlogDto">
    update blog_table
    <set>
        <if test='blogTitle != null and blogTitle != ""'>
            blog_title = #{blogTitle}
        </if>
        <if test='blogDate != null and blogDate > 0'>
            blog_date = #{blogDate}
        </if>
    </set>
        where 1=1
        and blog_number = #{blogNumber}
        ;
</update>

<!-- delete -->
<delete id="deleteBlog">
    delete from blog_table 
    where 1=1
        and blog_number = #{blogNumber}
    ;
</delete>

</mapper>